

# All verification files
VHDL/verification/*.txt

# They change every iteration
VHDL/estimador_summary.html
VHDL/iseconfig/estimador.xreport
VHDL/_xmsgs/

# Ignore all
#*
## But
#!/ipcore_dir/
#!.gitignore
#!*.vhd
#!verification/
##!*verification/*
#
VHDL/dvbt-channel-estimation.gise
